.mat-column-actions {
    width: 15%;
    max-width: 15%;
    padding-right: 24px;
    text-align: center;
}

.mat-column-designation {
    width: 25%;
    max-width: 25%;
    text-align: center;
}

.mat-column-montant {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.mat-column-description {
    width: 25%;
    max-width: 25%;
    text-align: center;
}

.mat-row:hover .mat-cell {
    background-color: #e2e8f0;
}