<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
            <!-- CONTENT GOES HERE -->

            <div class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto p-1">

                <div class="flex gap-7 min-w-0">

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                        <!-- Summary -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Semaine</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                    <mat-menu #summaryMenu="matMenu">
                                        <button mat-menu-item>Imprimer</button>
                                        <button mat-menu-item [routerLink]="['/depenses/liste/week']" routerLinkActive="router-link-active">Visualiser</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-5xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">{{data?.depenseWeek}}</div>
                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500"> </div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Nombre : </div>
                                    <div class="ml-1.5 text-lg font-semibold">{{data?.nbr_depenseWeek}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Overdue -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Mois</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="overdueMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                    <mat-menu #overdueMenu="matMenu">
                                        <button mat-menu-item>Imprimer</button>
                                        <button mat-menu-item [routerLink]="['/depenses/liste/month']" routerLinkActive="router-link-active">Visualiser</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-5xl sm:text-5xl font-bold tracking-tight leading-none text-red-500">{{data?.depenseMonth}}</div>
                                <div class="text-lg font-medium text-red-600 dark:text-red-500"> </div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Nombre : </div>
                                    <div class="ml-1.5 text-lg font-semibold">{{data?.nbr_depenseMonth}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Issues -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">3 mois derniers</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                    <mat-menu #issuesMenu="matMenu">
                                        <button mat-menu-item>Imprimer</button>
                                        <button mat-menu-item [routerLink]="['/depenses/liste/month_3last']" routerLinkActive="router-link-active">Visualiser</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-5xl sm:text-5xl font-bold tracking-tight leading-none text-amber-500">{{data?.depenseMonth_3last}}</div>
                                <div class="text-lg font-medium text-amber-600 dark:text-amber-500"> </div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Nombre : </div>
                                    <div class="ml-1.5 text-lg font-semibold">{{data?.nbr_depenseMonth_3last}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Features -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Années Scolaire</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                    <mat-menu #featuresMenu="matMenu">
                                        <button mat-menu-item>Imprimer</button>
                                        <button mat-menu-item [routerLink]="['/depenses/liste/year']" routerLinkActive="router-link-active">Visualiser</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-5xl sm:text-5xl font-bold tracking-tight leading-none text-green-500">{{data?.depenseYear}}</div>
                                <div class="text-lg font-medium text-green-600 dark:text-green-500"> </div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Nombre:</div>
                                    <div class="ml-1.5 text-lg font-semibold">{{data?.nbr_depenseYear}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Github issues summary -->
                    </div>
                </div>
            </div>
            <!-- Schedule -->
            <div class="sm:col-span-1 md:col-span-4 lg:col-span-1 flex flex-col flex-auto p-1 bg-card">

                <div class="flex flex-col w-full">
                    <div class="flex">

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['/depenses/liste']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:money_2" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold text-center">Dépenses
                                </div>
                            </div>
                        </div>

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['/depenses/statistique']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="heroicons_solid:chart-square-bar" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold text-center">Statistiques</div>
                            </div>
                        </div>


                    </div>

                    <div class="flex">
                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['/depenses/categorie']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:book" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold text-center">Categorie</div>
                            </div>
                        </div>

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['/depenses/designation']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:book" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold text-center">Designation</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="flex">

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['/pedagogie/subdivision-scolaire']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:book" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold text-center">Subdivision Scolaire</div>
                            </div>
                        </div>

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['/pedagogie/statistics']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:book" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold text-center">Statistics</div>
                            </div>
                        </div>

                    </div> -->

                </div>
            </div>

        </div>
    </div>
</div>