<h2 mat-dialog-title>{{action=='new'?'Ajouter une relation':'Modifier la relation de '+matiereSalleClassePersonnel.personnel?.nom+' '+matiereSalleClassePersonnel.personnel?.prenom}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">

    <form class=" " [formGroup]="matiereSalleClassePersonnelForm">
        <div class="flex flex-col w-full ">

            <div class="flex">
                <mat-form-field class="w-2/5 pr-2">
                    <mat-label>Année Scolaire </mat-label>
                    <mat-select [formControlName]="'annee_id'" required>
                        <mat-option [value]="cl.id" *ngFor="let cl of listeAnneeScolaire">[{{cl.libelle}}]</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-2/5 pl-2">
                    <mat-label>Matiere </mat-label>
                    <mat-select [formControlName]="'matiere_id'" required>
                        <mat-option [value]="cl.id" *ngFor="let cl of listeMatiere">{{cl.libelle}} [{{cl.code}}]</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex">

                <mat-form-field class="w-2/5 pr-2">
                    <mat-label>Salle </mat-label>
                    <mat-select [formControlName]="'salle_classe_id'" required>
                        <mat-option [value]="cl.id" *ngFor="let cl of listeSalle">{{cl.libelle}} [{{cl.code}}]</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-2/5 pl-2">
                    <mat-label>Personnel </mat-label>
                    <mat-select [formControlName]="'personnel_id'" required>
                        <mat-option [value]="cl.id" *ngFor="let cl of listePersonnel">{{cl.nom}} {{cl.prenom}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-1/5 pl-2">
                    <mat-label>Coefficient</mat-label>
                    <input matInput [formControlName]="'coefficient'" type="number">
                </mat-form-field>

            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!matiereSalleClassePersonnelForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>