<div class="flex flex-col w-full p-6 pt-0">


    <div class="sm:col-span-2 lg:col-span-3  flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">

        <div class="flex flex-col flex-auto ">
            <table mat-table [dataSource]="dataSource" class="demo-table">
                <!-- Position Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="matricule">
                    <th mat-header-cell *matHeaderCellDef> Matri. </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]"> {{element.matricule}} </td>
                </ng-container>
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef class="border-l-2 border-r-2"> Nom & Prénom</th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-l-2 border-r-2"> {{element.nom}} {{element.prenom}}</td>
                </ng-container>

                <ng-container matColumnDef="ma">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> ma </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.ma}} </td>
                </ng-container>
                <ng-container matColumnDef="edhc">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> edhc </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.edhc}} </td>
                </ng-container>
                <ng-container matColumnDef="cond">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> cond </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.cond}} </td>
                </ng-container>
                <ng-container matColumnDef="bonus">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> bonus </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.bonus}} </td>
                </ng-container>
                <ng-container matColumnDef="trim1">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> trim1 </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.trim1}} </td>
                </ng-container>
                <ng-container matColumnDef="trim2">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> trim2 </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.trim2}} </td>
                </ng-container>
                <ng-container matColumnDef="trim3">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> trim3 </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.trim3}} </td>
                </ng-container>
                <ng-container matColumnDef="am">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> am </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.am}} </td>
                </ng-container>
                <ng-container matColumnDef="eps">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> eps </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.eps}} </td>
                </ng-container>
                <ng-container matColumnDef="mus">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> mus </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.mus}} </td>
                </ng-container>
                <ng-container matColumnDef="ap">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> ap </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.ap}} </td>
                </ng-container>
                <ng-container matColumnDef="sp">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> sp </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.sp}} </td>
                </ng-container>
                <ng-container matColumnDef="svt">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> svt </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.svt}} </td>
                </ng-container>
                <ng-container matColumnDef="cf">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> cf </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.cf}} </td>
                </ng-container>
                <ng-container matColumnDef="lv2">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> lv2 </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.lv2}} </td>
                </ng-container>
                <ng-container matColumnDef="hg">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> hg </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.hg}} </td>
                </ng-container>
                <ng-container matColumnDef="og">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> og </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.og}} </td>
                </ng-container>
                <ng-container matColumnDef="oe">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> oe </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.oe}} </td>
                </ng-container>
                <ng-container matColumnDef="ph">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> ph </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.ph}} </td>
                </ng-container>
                <ng-container matColumnDef="an">
                    <th mat-header-cell *matHeaderCellDef class="border-r-1"> an </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/salaries',element.id]" class="border-r-1"> {{element.an}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>

                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex items-center ml-6">

                            <button class="hidden sm:inline-flex ml-3" mat-icon-button (click)="edit(element)">
                                            <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon> 
                                        </button>

                            <button class="hidden sm:inline-flex ml-3" mat-icon-button (click)="supprimer(element)">
                                            <mat-icon svgIcon="heroicons_solid:x"></mat-icon> 
                                        </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="flex flex-col justify-between w-full">
                <div class="flex justify-between sm:mt-5 p-0.5 rounded-full">

                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                    </mat-paginator>
                    <div class="flex justify-between items-center" *ngIf="selection.selected.length>0">
                        <button class="hidden sm:inline-flex ml-3" mat-stroked-button (click)="supprimer_element()">
                                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon> 
                                        Supprimer les {{selection.selected.length}} salariés
                                    </button>
                    </div>
                </div>
            </div>
            <div class="flex items-justify">
                <div class="flex flex-col items-center w-full mb-10" *ngIf="!dataSource.data.length">
                    <div class="flex items-center mt-8 sm:mt-16 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                        <button class="" mat-flat-button (click)="importerListeSalaries()">
                                    Importer les salariés
                                </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>