<h2 mat-dialog-title>{{action=='new'?'Ajouter un poste':'Modifier le poste '+poste.libelle}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">


    <form class=" " [formGroup]="posteForm">
        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-3/4 pl-2">
                    <mat-label>Libelle</mat-label>
                    <input matInput [formControlName]="'libelle'" required>
                </mat-form-field>

            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!posteForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>