<h2 mat-dialog-title>{{action=='new'?'Ajouter un contrat':'Modifier le contrat de '+contrat?.personnel?.nom+' '+contrat?.personnel?.prenom}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">


    <form class=" " [formGroup]="contratForm">
        <div class="flex flex-col w-full ">

            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Titulaire </mat-label>
                    <mat-select [formControlName]="'personnel_id'" [required]="true" [disabled]="readonlyPersonnelId">
                        <mat-option [value]="cl.id" *ngFor="let cl of listePersonnel">{{cl.nom}} {{cl.prenom}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Numéro</mat-label>
                    <input matInput [formControlName]="'numerocontrat'" required>
                </mat-form-field>

            </div>
            <div class="flex">

                <mat-form-field class="w-full">
                    <mat-label>Objet</mat-label>
                    <input type="text" matInput [formControlName]="'objetcontrat'">
                </mat-form-field> 

            </div>
            <div class="flex">

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Date signature</mat-label>
                    <input type="date" matInput [formControlName]="'datesignature'" required>
                </mat-form-field>

                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Date début</mat-label>
                    <input type="date" matInput [formControlName]="'datedebut'" required>
                </mat-form-field>

                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Date fin</mat-label>
                    <input type="date" matInput [formControlName]="'datefin'" required>
                </mat-form-field>

            </div>
 
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Durée contrat(en mois)</mat-label>
                    <input matInput [formControlName]="'duree'">
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>CNSS</mat-label>
                    <input matInput [formControlName]="'cnss'">
                </mat-form-field>

                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Salaire</mat-label>
                    <input matInput [formControlName]="'salaire'">
                </mat-form-field>

            </div>
            

            <div class="flex">

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Diplome de recrutement</mat-label>
                    <mat-select [formControlName]="'niveaurecrutement'" required>
                        <mat-option [value]="'BACCALAUREAT'">BACCALAUREAT</mat-option>
                        <mat-option [value]="'LICENCE1'">LICENCE I</mat-option>
                        <mat-option [value]="'LICENCE2'">LICENCE II</mat-option>
                        <mat-option [value]="'LICENCE3'">LICENCE III</mat-option>
                        <mat-option [value]="'MASTER1'">MASTER I</mat-option>
                        <mat-option [value]="'MASTER2'">MASTER II</mat-option>
                        <mat-option [value]="'DOCTORANT'">DOCTORANT</mat-option>
                        <mat-option [value]="'DOCTORAT'">DOCTORAT</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/3 pr-2 pl-2">
                    <mat-label>Type Contrat</mat-label>
                    <mat-select [formControlName]="'typecontrat'" required>
                        <mat-option [value]="'CDD'">Contrat à durée déterminée</mat-option>
                        <mat-option [value]="'CDI'">Contrat à durée indéterminée</mat-option>
                        <mat-option [value]="'CPS'">Contrat de Prestation de Services</mat-option>
                    </mat-select>
                </mat-form-field> 

            </div>

            <div class="flex">

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Service Affectation </mat-label>
                    <mat-select [formControlName]="'serviceaffection_id'" required>
                        <mat-option [value]="serviveAffectation.id" *ngFor="let serviveAffectation of listeServiceAffectation">
                            {{ serviveAffectation.libelle }}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field class="w-1/3  pl-2 pr-2">
                    <mat-label>Poste </mat-label>
                    <mat-select [formControlName]="'poste_id'" required>
                        <mat-option [value]="poste.id" *ngFor="let poste of listePoste">{{ poste.libelle }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Projet</mat-label>
                    <input matInput [formControlName]="'projet'">
                </mat-form-field>
                 

            </div>

            <div class="flex">
                <mat-form-field class="w-full">
                    <mat-label>Personne à prevenir en cas de besoin (nom et contact)</mat-label>

                    <textarea matInput [formControlName]="'nomprenompersonneaprevenir'"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!contratForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>