<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
            <!-- CONTENT GOES HERE -->
            <div class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto p-1">
                <div class="flex gap-7 min-w-0">
                    <fuse-card class="flex max-w-80 w-full filter-info bg-blue-500">
                        <mat-icon svgIcon="iconsmind:business_manwoman" class="justify-center font-bold icon-size-32 text-white"></mat-icon>

                        <div class="flex flex-col flex-auto justify-center">
                            <div class="text-lg font-semibold leading-tight text-white">
                                NOMBRE D'ELEVE
                            </div>
                            <div class="text-md text-secondary border-b-2 text-white">
                                {{nombre_de_fille+nombre_de_garcon}}
                            </div>
                            <div class="border-b-2"></div>
                            <div class="text-md text-white">AFF:{{nombre_de_garcon_aff + nombre_de_fille_aff}} NAFF:{{nombre_de_fille+nombre_de_garcon-(nombre_de_garcon_aff + nombre_de_fille_aff)}}</div>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex max-w-80 w-full filter-info bg-blue-500">
                        <mat-icon svgIcon="iconsmind:business_man" class="font-bold icon-size-32 text-white"></mat-icon>

                        <div class="flex flex-col flex-auto justify-center">
                            <div class="text-lg font-semibold leading-tight text-white">
                                TOTAL GARCONS
                            </div>
                            <div class="text-md text-secondary border-b-2 text-white">
                                {{nombre_de_garcon}}
                            </div>
                            <div class="border-b-2"></div>
                            <div class="text-md text-white">AFF:{{nombre_de_garcon_aff}} NAFF:{{nombre_de_garcon-nombre_de_garcon_aff}}</div>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex max-w-80 w-full filter-info bg-blue-500">
                        <mat-icon svgIcon="iconsmind:business_woman" class="font-bold icon-size-32 text-white"></mat-icon>

                        <div class="flex flex-col flex-auto justify-center">
                            <div class="text-lg font-semibold leading-tight text-white">
                                TOTAL FILLES
                            </div>
                            <div class="text-md text-secondary border-b-2 text-white">
                                {{nombre_de_fille}}
                            </div>
                            <div class="border-b-2"></div>
                            <div class="text-md text-white">AFF:{{nombre_de_fille_aff}} NAFF:{{nombre_de_fille-nombre_de_fille_aff}}</div>
                        </div>
                    </fuse-card>
                </div>
            </div>

            <!-- Schedule -->
            <div class="sm:col-span-1 md:col-span-4 lg:col-span-1 flex flex-col flex-auto p-1 bg-card">

                <div class="flex flex-col w-full">
                    <div class="flex">

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['inscription']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:folder_edit" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Inscription</div>
                            </div>
                        </div>

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['impression']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:printer" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Impression</div>
                            </div>
                        </div>

                    </div>

                    <div class="flex">
                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['eleves-inscrits']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:business_manwoman" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Elèves</div>
                            </div>
                        </div>

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['caisse-versement']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:basket_coins" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Caisse</div>
                            </div>
                        </div>


                    </div>

                    <div class="flex">
                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['frais-scolarite']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="iconsmind:money_2" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Scolarisation</div>
                            </div>
                        </div>

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['eleves-archive']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="mat_outline:history" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Archives</div>
                            </div>
                        </div>

                    </div>

                    <div class="flex">
                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['salle-classe']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="heroicons_solid:office-building" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Salle de classe</div>
                            </div>
                        </div>

                        <div class="w-1/2 p-3 m-1 bg-card shadow rounded-2xl overflow-hidden cursor-pointer bg-default" [routerLink]="['/scolarite']">

                            <div class="flex flex-col items-center">

                                <mat-icon svgIcon="mat_outline:history" class="font-bold icon-size-8"></mat-icon>

                                <div class="text-md font-large font-bold">Historique</div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>