<h2 mat-dialog-title>{{action=='new'?'Ajouter une dépense':'Modifier la dépense '+depense.description}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">


    <form class=" " [formGroup]="depenseForm">
        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-1/4 pr-1">
                    <mat-label>Catégorie </mat-label>
                    <mat-select [formControlName]="'categorie_id'" required>
                        <mat-option [value]="categorieDepense.id" *ngFor="let categorieDepense of listeCategorieDepense" (click)="filterDesignation(categorieDepense.id)">{{categorieDepense.libelle}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-2/4">
                    <mat-label class="text-md">Désignation : </mat-label>
                    <mat-select [formControlName]="'designation_id'">
                        <ng-container *ngFor="let designationDepense of listeDesignationDepense">
                            <mat-option class="h-auto py-4 leading-none" [value]="designationDepense.id" (click)="optionClick(designationDepense)">
                                <div class="font-medium">{{designationDepense.libelle}}</div>
                                <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary">{{designationDepense.libelle}}</div>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/4">
                    <mat-label>Date</mat-label>
                    <input type="date" matInput [formControlName]="'datedepense'">
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto w-full">
                    <mat-label>Description</mat-label>
                    <textarea matInput [formControlName]="'description'" [rows]="3" matTextareaAutosize></textarea>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Montant</mat-label>
                    <input matInput [formControlName]="'montant'" required>
                </mat-form-field>
            </div>

        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!depenseForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>