<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pr-6 pl-6 pt-1 pb-1   sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" [routerLink]="['/scolarite']" routerLinkActive="router-link-active">Scolarite</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-default-500">Inscription</a>
                </div>
            </div>
            <!-- Title -->
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-6 sm:pt-1">

        <div class="flex w-full min-w-0 pb-1">

            <div class="w-1/2 text-left">
                <button (click)="reinitialiserEleve()" class="shadow rounded-2xl overflow-hidden cursor-pointer bg-card  bg-red-900" mat-stroked-button>
                    <label class="ml-0 cursor-pointer" style="color: white;">Réinitialiser</label>
                </button>
            </div>
            <div class="w-1/2 text-right">
                <label *ngIf="eleve">{{eleve.matricule}}|{{eleve.nom}}|{{eleve.prenom}}</label>
                <button (click)="choisirEleve()" class="shadow rounded-2xl overflow-hidden cursor-pointer bg-card  bg-red-900" mat-stroked-button>
                    <label class="ml-0 cursor-pointer" style="color: white;">Choisir un élève</label>
                </button>
            </div>
        </div>
        <div class="flex w-full min-w-0">
            <!-- CONTENT GOES HERE -->
            <div class="w-2/5 bg-card shadow rounded-2xl p-6">
                <div class="w-full text-2xl font-semibold leading-tight">ETAT CIVIL</div>
                <form class="w-full pt-6" [formGroup]="eleveForm">
                    <div class="flex flex-col w-full">
                        <div class="flex">
                            <mat-form-field class="w-1/2 pr-2">
                                <mat-label>Matricule</mat-label>
                                <input matInput [formControlName]="'matricule'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 pl-3">
                                <mat-label>Numéro extrait</mat-label>
                                <input matInput [formControlName]="'n_extrait'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="w-1/2 pr-2">
                                <mat-label>Nom</mat-label>
                                <input matInput [formControlName]="'nom'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 pl-2">
                                <mat-label>Prénom(s)</mat-label>
                                <input matInput [formControlName]="'prenom'" oninput="this.value = this.value[0].toUpperCase()+this.value.slice(1)">
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="w-1/2 pr-2">
                                <mat-label>Date naissance</mat-label>
                                <input matInput type="date" [formControlName]="'date_naissance'">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 pl-2">
                                <mat-label>Lieu naissance</mat-label>
                                <input matInput [formControlName]="'lieu_naissance'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="w-1/2 pr-2">
                                <mat-label>Genre</mat-label>
                                <mat-select [formControlName]="'genre'" required>
                                    <mat-option [value]="'M'">MASCULIN</mat-option>
                                    <mat-option [value]="'F'">FEMININ</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-1/2 pl-2">
                                <mat-label>Téléphone</mat-label>
                                <input matInput [formControlName]="'telephone'">
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="w-1/2 pr-2">
                                <mat-label>Nom et Prénom du père</mat-label>
                                <input matInput [formControlName]="'nom_prenom_pere'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 pl-3">
                                <mat-label>Profession du père</mat-label>
                                <input matInput [formControlName]="'profession_pere'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="w-1/2 pr-2">
                                <mat-label>Nom et Prénom de la mère</mat-label>
                                <input matInput [formControlName]="'nom_prenom_mere'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 pl-3">
                                <mat-label>Profession de la mère</mat-label>
                                <input matInput [formControlName]="'profession_mere'" oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <mat-form-field class="w-full">
                            <mat-label>Nom, prénom et contact personne à prévenir</mat-label>
                            <textarea matInput [formControlName]="'nom_prenom_tel_pers_pre_besoin'" oninput="this.value = this.value.toUpperCase()"></textarea>
                        </mat-form-field>
                        <div class="mat-form-field flex flex-col w-full">
                            <mat-label>&nbsp;</mat-label>
                            <button (click)="enregistrerButton()" class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-red-900" mat-stroked-button>
                                <label class="ml-0 cursor-pointer" style="color: white;">Enregistrer</label>
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Schedule -->
            <div class="w-3/5 ml-6">
                <div class="w-full bg-card shadow rounded-2xl pl-6 pr-6 pt-6">
                    <div class="flex flex-col w-full text-2xl font-semibold leading-tight">
                        <div class="flex">
                            <div class="w-1/4">SCOLARITE</div>
                            <div class="w-3/4 text-right">

                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full pt-3">
                        <form class="w-full" [formGroup]="inscriptionForm">
                            <div class="flex flex-col w-full">
                                <div class="flex">
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/4 pr-1">
                                        <mat-label>Niveau</mat-label>
                                        <mat-select [formControlName]="'classe_id'" required>
                                            <mat-option [value]="cl.id" *ngFor="let cl of classes" (click)="filterSalleClasse(cl.id)">{{cl.libelle}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/4 pr-1">
                                        <mat-label>Serie</mat-label>
                                        <mat-select [formControlName]="'serie'" required>
                                            <mat-option [value]="'A'">A</mat-option>
                                            <mat-option [value]="'D'">D</mat-option>
                                            <mat-option [value]="'C'">C</mat-option>
                                            <mat-option [value]="'AC'">AC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/4 pr-1">
                                        <mat-label>Salle classe</mat-label>
                                        <mat-select [formControlName]="'salle_classe_id'">
                                            <mat-option *ngIf="salleClasses.length>=0" [value]="null"></mat-option>
                                            <mat-option [value]="cl.id" *ngFor="let cl of salleClasses">{{cl.libelle}}</mat-option>
                                            <mat-option *ngIf="salleClasses.length==0">Pas de salle de classe</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/4 pr-1">
                                        <mat-label>Redoublant</mat-label>
                                        <mat-select [formControlName]="'redoublant'" required>
                                            <mat-option [value]="'OUI'">OUI</mat-option>
                                            <mat-option [value]="'NON'">NON</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/4 pr-1">
                                        <mat-label>Affecte</mat-label>
                                        <mat-select [formControlName]="'affecte'" required>
                                            <mat-option [value]="'OUI'">OUI</mat-option>
                                            <mat-option [value]="'NON'">NON</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- touched -->
                                <div class="flex w-full text-right" *ngIf="inscriptionForm.touched">
                                    <div class="w-full text-right">
                                        <button (click)="enregistrerInscription()" [disabled]="inscriptionForm.disabled" class="shadow rounded-2xl overflow-hidden cursor-pointer bg-card  bg-red-900" mat-stroked-button>
                                            <label class="ml-0 cursor-pointer" style="color: white;"
                                            *ngIf="!inscriptionForm.disabled">Enregistrer</label>
                                            <mat-progress-spinner style="color: white;"
                                            *ngIf="inscriptionForm.disabled"
                                            [diameter]="24"
                                            [mode]="'indeterminate'"></mat-progress-spinner>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="w-full bg-card shadow rounded-2xl pl-6 pr-6 mt-6">
                    <div class="flex flex-col w-full pt-3">
                        <form class="w-full">
                            <div class="flex flex-col w-full">
                                <div class="flex">
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/3 pr-1">
                                        <mat-label>Frais Inscription</mat-label>
                                        <input matInput [readonly]="true" [value]="scolarite.frais_inscription" disabled>
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/3 pr-1" *ngIf="inscription?.affecte=='NON'">
                                        <mat-label>Frais Scolarité</mat-label>
                                        <input matInput [readonly]="true" [value]="scolarite.frais_scolarite" disabled>
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/3 pr-1" *ngIf="inscription.affecte=='OUI'">
                                        <mat-label>Frais Scolarité(affecté)</mat-label>
                                        <input matInput [readonly]="true" [value]="scolarite.frais_scolarite_affecte" disabled>
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/3 pr-1">
                                        <mat-label>Autres Frais</mat-label>
                                        <input matInput [readonly]="true" [value]="scolarite.autres_frais" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <mat-tab-group class="w-full bg-card shadow rounded-2xl pr-6 mt-6">
                    <mat-tab label="Versement" class="flex flex-col w-full pt-3">
                        <form class="w-full" [formGroup]="versementForm">
                            <div class="flex flex-col w-full">
                                <div class="flex">
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/3 pr-1">
                                        <mat-label>Montant à versé</mat-label>
                                        <input matInput typte="number" [formControlName]="'montant'" required (ngModelChange)="montantRestant($event)">
                                    </mat-form-field>
                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-1/3 pr-1">
                                        <mat-label>Montant restant</mat-label>
                                        <input matInput [readonly]="true" style="border-width: 0px" [value]="montant_restant" [formControlName]="'montantRestant'">
                                    </mat-form-field>

                                    <div class="mat-form-field flex flex-col w-1/3">
                                        <mat-label>&nbsp;</mat-label>
                                        <button (click)="verserButton()" [disabled]="versementForm.disabled" class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-red-900" mat-stroked-button>
                                            <label *ngIf="!versementForm.disabled" class="ml-0 cursor-pointer" style="color: white;">Verser</label>
                                            <mat-progress-spinner style="color: white;" *ngIf="versementForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab label="Historique">

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full" id="dvContainerdvContainer">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="montant">
                                <th mat-header-cell *matHeaderCellDef> Montant </th>
                                <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
                            </ng-container>
                            <ng-container matColumnDef="createdAt">
                                <th mat-header-cell *matHeaderCellDef> Date versement </th>
                                <td mat-cell *matCellDef="let element"> {{element.dateversement|date:"dd/MM/YY"}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div class="flex flex-col justify-between w-full">
                            <div class="flex justify-between sm:mt-5 p-0.5 rounded-full">
                                <div class="flex justify-between items-center">
                                    <button *ngIf="dataSource.data.length>0" class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-red-900" mat-stroked-button (click)="downloadInvoice()">
                                        <mat-icon style="color: white;" svgIcon="iconsmind:printer"></mat-icon> &nbsp;
                                        <label class="ml-0 cursor-pointer" style="color: white;">Impression</label>
                                    </button>
                                    <button class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-red-900" mat-stroked-button (click)="versementGetUpdateListUpdateHistorique()">
                                        <mat-icon style="color: white;"  svgIcon="update"></mat-icon> &nbsp;
                                        <label class="ml-0 cursor-pointer" style="color: white;">Actualiser</label>
                                        
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>