<h2 mat-dialog-title>{{'Veuillez choisir un élève'}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">

    <div class="flex flex-col">
        <mat-form-field class="w-full">
            <mat-label>Rechercher</mat-label>
            <input matInput (ngModelChange)="recherche($event)" [formControl]="searchControl" [placeholder]="'Search for a page or a contact'">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element">{{element.matricule}} </td>
            </ng-container>
            <ng-container matColumnDef="nomprenom">
                <th mat-header-cell *matHeaderCellDef> Nom & Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} {{element.prenom}} </td>
            </ng-container>
            <ng-container matColumnDef="date_naissance">
                <th mat-header-cell *matHeaderCellDef> Date Nais </th>
                <td mat-cell *matCellDef="let element"> {{element.date_naissance}} </td>
            </ng-container>
            <ng-container matColumnDef="nom_prenom_pere">
                <th mat-header-cell *matHeaderCellDef> Nom père </th>
                <td mat-cell *matCellDef="let element"> {{element.nom_prenom_pere}} </td>
            </ng-container>
            <ng-container matColumnDef="nom_prenom_mere">
                <th mat-header-cell *matHeaderCellDef> Nom mère </th>
                <td mat-cell *matCellDef="let element"> {{element.nom_prenom_mere}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element;let row; columns: displayedColumns;" (click)="onSelectEleve(element)"></tr>
        </table>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>